body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Media query for extra-large screens */
@media (max-width: 1675px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 1400px) and (min-width : 1674px)  {
  html {
    font-size: 14px;
  }
}
@media (max-width: 14px) and (min-width : 1400px)  {
  html {
    font-size: 13px;
  }
}
